* {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;


}

body {
display: flex;
flex-direction: column;
min-height: 100vh;
    background-color: #c5c9ce;
    background-image: url("../../assets/image/background\ img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-size: 25px;
}

.page-container {
    display: flex;
    /* font-size: 16px; */
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
    height: 100vh;
    /* margin: 30px; */
    /* width: 100vw; */
}

.card {
    background-color: #f6f8f9;
    box-shadow: 0 10px 10px rgb(117, 116, 116);
    align-items: center;
    border-radius: 15px;
    height: 100vh;
    width: 600px;
    margin: 100px;
    padding: 20px;
    color: #b5bdcc;

}

.task-master {
    margin: 10px;
    padding: 20px;
    justify-items: center;
    align-items: center;


}

.task-MASTER-IMG {
    display: flex;
    width: 100px;
}


h1 {
    text-decoration-color: #101828;
    margin: 10px;
}

p {
    text-decoration-color: #505964;
}

.form-section {
    font-size: 16px;
    margin: 40px;
    padding: 25px;
    width: 500px;

}


.toggle {
    display: flex;
    border: 3px solid #b5bdcc;
    border-radius: 15px;
    /* overflow: ; */
    width: 80%;
    /* Or any width you want */
    height: 45px;
margin: 20px;
overflow: hidden;

}

/* BOTH BUTTONS (links styled as buttons) */
.toggle button {
    flex: 1;
    /* 50% width each */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;



}

/* ACTIVE BUTTON (Login highlighted) */
.toggle-btn-active {
    background: #b5bdcc;
    color: hsl(231, 78%, 97%)
}


/* INACTIVE BUTTON (Signup) */
.toggle-btn-inactive {
    background: hsl(231, 78%, 97%);
    color: #333;
}

/* HOVER EFFECT (this will change color AND open page when clicked) */
.toggle button:hover {
    background: #b5bdcc;
    color: hsl(231, 78%, 97%);

}

.lognin-input-2 {
    width: 540px;
    margin: 30px;
}

.input-label-2 {
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
    display: block;
}

.input-box-2 {
    position: relative;
    box-sizing: border-box;
    border: 3px solid #b5bdcc;
    border-radius: 15px;
    height: 80px;
    display: flex;
    align-items: center;
    background: #fff;
    padding-left: 55px;
    /* space for the icon */
}

.input-icon {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 30px;

}

.name {
    border: none;
    outline: none;
    font-size: 18px;
    width: 100%;
}

.signup-input-3 {
    width: 540px;
    margin: 10px;
}

.input-label {
    font-size: 14px;
    color: #000;
    margin: 20px;
    display: block;
}

.input-box {
    position: relative;
    box-sizing: border-box;
    border: 3px solid #b5bdcc;
    border-radius: 15px;
    height: 80px;
    display: flex;
    align-items: center;
    background: #fff;
    padding-left: 55px;
    /* space for the icon */
}

.input-icon {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 30px;
}

.name {
    border: none;
    outline: none;
    font-size: 18px;
    width: 100%;
}


.action-btns {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 20px;
}


.help-btn-img {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    height: 60px;
    width: 250px;
    padding: 0 20px;
    text-align: center;
    border-radius: 15px;
    border: none;
    background-color: #b5bdcc;
    box-shadow: 0 1px 10px#fff;
}

.help-btnimg {
    width: 24px;
    height: 24px;
}

.Create-account-btn {
    justify-content: center;
    height: 60px;
    width: 250px;
    text-align: center;
    border-radius: 15px;
    background-color: #e4a100 ;
    box-shadow: 0 7px 10px rgb(117, 116, 116);
}

.footer {
    /* margin: 40px; */
margin-top:auto ;
}